[id*='select2-terebina-result'][aria-selected=true]{
	display: none;
}

input#woocase_total_post_settings_input {
    display: none !important;
}

.woocase-single-field {
    background-color: #F1F1F1;
    padding: 15px;
    overflow: hidden;
    margin: 10px 0;
    display: none;
}
div#woocase_general_settings,
div#woocase_total_post_settings,
div#woocase_post_settings_single {
    display: block;
}
.woocase-single-field label {
    display: block;
    width: 100%;
    margin-bottom: 17px;
    font-weight: 600;
}

.woocase-single-field .select2-container,
.woocase-single-field select{
    width: 100% !important;
}
.woocase-single-field input:not(.wp-color-picker, .wp-picker-default) {
    width: 100% !important;
}
div#woocase_shortcode_settings_single input {
    width: 100%;
}
div#woocase_shortcode_settings_single label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}
.woocase-total-post-slider > span.woocase-total-post-count {
    text-align: right;
    display: block;
    padding: 10px 4px;
    font-weight: 600;
}

.woocase-visible{
    display: block !important;
}
.woocase-hidden{
    height: 0;
    transition: all .4s;
}
#woocase_display_settings,
input#woocase_display_slide_time_settings,
input#woocase_display_page_per_slide_input,
div#woocase_display_slider_container_width_settings_single,
input#woocase_display_slider_container_width_settings,
input#woocase_upload_image{
    display: none;
}
div#woocase-pagination-nav {
    text-align: left;
    padding: 20px 0;
}

#woocase_general_settings div#woocase-pagination-nav{
    text-align: right;
}
.woocase-error{
    color: red;
    font-style: italic;
}
/*.post-type-woocasepro #submitpost {
    display: none;
}*/

/*div#woocase_general_settings.postbox,
div#woocase_display_settings.postbox {
    position: absolute;
    width: 100%;
}
.post-type-woocasepro .postbox-container {
    position: relative;
}*/

.woocase-single-field input[type="checkbox"] {
    width: auto !important;
}


div#woocase-metabox-nav {
overflow: hidden;
}
div#woocase-metabox-nav ul{
    margin: 0;
}
div#woocase-metabox-nav ul li {
    display: inherit;
    margin: 0;
    width: 50%;
    float: left;
    background-color: #666;
    display: block;
    padding: 0 20px;
    overflow: hidden;
    margin-top: 20px;
    box-sizing: border-box;
    transition: all .4s;
}
div#woocase-metabox-nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 13px 0;
    display: block;
    font-weight: 400;
    outline: none;
}
div#woocase-metabox-nav ul li a:focus,
div#woocase-metabox-nav ul li a:active{
    outline: none;
    border: none;
    box-shadow: none;

}

div#woocase-metabox-nav ul li.woocase-active{
    background-color: #0072A7;
}

label.woocase-checkbox-style-label::after {
    display: block;
    width: 25px;
    position: absolute;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #FFF;
    border-radius: 50px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.woocase-single-field input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
label.woocase-checkbox-style-label {
    background-color: #ccc;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    position: relative;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.woocase-single-field input[type="checkbox"]:checked + label.woocase-checkbox-style-label {
    background-color: tomato;
}
.woocase-single-field input[type="checkbox"]:checked + label.woocase-checkbox-style-label::after {
    left: calc(100% - 24px);
}

div#woocase_display_auto_slide_settings_single,
div#woocase_display_navigation_settings_single,
div#woocase_display_pagination_s_settings_single,
div#woocase_display_slide_time_settings_single,
div#woocase_display_page_per_slide_settings,
div#woocase_display_popup_settings_single,
div#woocase_general_sale_featured_on_off_single{
    display: block;
}
div#woocase_general_sale_featured_on_off_single > div,
.woocase-general-single-sale-featured-sec > div {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.woocase-general-single-sale-featured-sec {
    border-right: 1px solid #ccc;
}
.woocase-general-single-sale-featured-sec:last-child {
    padding-left: 100px;
    border: none;
}
.woocase-general-single-sale-featured-sec:first-child {
    padding-right: 100px;
}
.woocase-uploaded-picture {
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
    display: none;
    box-sizing: border-box;
}
.woocase-uploaded-picture img.woocase-image-src {
    width: auto;
    max-width: 100%;
}
.woocase-uploaded-picture img.woocase-remove-icon {
    position: absolute;
    top: -9.5px;
    right: -9.5px;
    width: 25px;
    cursor: pointer;
}
input#woocase_upload_image_button {
    width: auto !important;
    display: inline-block;
}
.woocase-upload-image-input {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-right: 30px;
}
.woocase-background-image-size {
    width: 50%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}
select.woocase_background_images_size_settings_select,
select.woocase_background_images_size_repetition_settings_select,
select.woocase_background_images_position_settings_select {
    width: auto !important;
}
/*.woocase-single-field .wp-picker-holder .iris-picker .iris-picker-inner .iris-square {
    width: 182.125px !important;
}
.woocase-single-field .wp-picker-holder .iris-picker .iris-picker-inner .iris-slider.iris-strip {
    width: 17.625px !important;
}
.woocase-single-field .wp-picker-holder .iris-picker .iris-picker-inner .iris-strip.iris-alpha-slider {
    width: 17.625px !important;
}
*/

.woocase-premium-access-image img{
    width: 100%;
}

div#woocase_premium_version_settings_single {
    text-align: center;
}
div#woocase_premium_version_settings_single label {
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
}
div#woocase_premium_version_settings_single a.woocase-premium-version-btn {
    text-decoration: none;
    color: #fff;
    background-color: tomato;
    padding: 15px 20px;
    display: block;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 500;
    transition: all .4s;
}
div#woocase_premium_version_settings_single a.woocase-premium-version-btn:hover {
    background-color: #ce3a20;
}